
*.vsidx
*.lock
*.db
.vs/TOP/v17/.suo
.vs/TOP/v16/.suo
*.db-shm
*.opendb
*.bin
*.db-wal
*.ipch
*.obj
*.idb
*.pdb
*.tlog
*.lib
*.log
*.recipe
*.exe
*.res
*.ilk
*.txt
*.iobj
*.ipdb
/Client/system/*.dll
/Client/system/*.exp
/Server/*.lic
/Client/system/*.loc
/Server/*.loc
/Client/**/*.ini
/Server/*.cfg
/Server/*.dll
/Translation/*.dll

!/Database/*.txt
!/Source/licensecc/**
!Source/Botan/**/.txt
!Source/Botan/src/build-data/version.txt
!Source/Botan/**
# Whitelist precompiled libraries
!Client/system/CaLua.dll
!Client/system/DBGHELP.DLL
!Client/system/smpeg.dll
!Client/system/SDL_mixer.dll
!Client/system/SDL.dll
!Client/system/dsound.dll
!Source/LuaJIT/lib/x86/lua51.lib
!Source/LuaJIT/lib/x64/lua51.lib
!get-next-version-windows-amd64.exe